$primary: #a0e9b0
$primary-dark: #549c64
$primary-light: #f1fbf3
//Color
.bg-primary
    background: $primary
.bg-primary-dark
    background: $primary-dark

body
    background: $primary-light
img
    max-width: 100%