{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <homme-slider></homme-slider>
        </div>
        <div class="col-xs-12 col-md-3">
            <news></news>
        </div>
        <div class="col-xs-12 col-md-4" style="background: blue;">
            Character Home
        </div>
    </div>
</div>
{% endblock %}
