{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        User INFO
        {{ dump(levels|length) }}
        {% if levels is not empty %}
        <div class="row">
            <div class="col">
                <h3>Level created by this user</h3>
                {% for level in levels %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}