{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        User INFO
        <div class="row">
            <h3>Level created by this user</h3>
        </div>
    </div>
{% endblock %}